body {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 400;
    background: #FCFCFC;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

.localization-container {
    max-width: 100%;
    height: 40px;
    background: #FFF;
    border-radius: 100px;
    margin: 5px 15px 0 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;

}

.localization-text {
    font-weight: 500;
}

.welcome-text-container {
    max-width: 100%;
    height: 80px;
    font-size: 24px;
    font-weight: 500;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.nav-container {
    overflow-y: scroll;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.nav-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    min-width: 34px;
    height: 34px;
    min-height: 34px;
    border-radius: 100px;
    background: #FFF;
    margin-left: 15px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.10);
}

.nav-category {
    padding: 9px 20px;
    border-radius: 100px;
    background: #FFF;
    color: #7D7D7D;
    text-wrap: nowrap;
}

.nav-category.active {
    background: #139F4E;
    color: #FFF;
}

.menu-items-wrapper {
    padding: 15px;
}

.menu-item-container {
    width: 100%;
    height: 130px;
    border-radius: 16px;
    background: #FFF;
    margin-bottom: 10px;
}

.menu-item-grid {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 15px 10px;
}

.menu-item-grid.no-photo {
    display: grid;
    grid-template-columns: 1fr;
    height: 100px;
    padding: 15px 10px;
}

.menu-item-image-container {
    grid-column: 1;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.menu-item-image {
    border-radius: 16px;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.menu-item-banner {
    position: absolute;
    padding: 4px 11px;
    border-radius: 100px;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.2px;
    color: #FFF;
    background: #000;
    margin-top: -15px
}

.menu-item-text-data-grid {
    grid-column: 2;
    position: relative;
    margin-left: 10px;
}

.menu-item-name {
    font-weight: 500;
    color: #222;
    margin-bottom: 5px;
}

.menu-item-description {
    color: #7D7D7D;
    font-weight: 300;
}

.menu-item-price {
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 500;
    color: #222;
}